@{
    Layout = null;
}
<!--
    Lachie Rutherford
    I do not have permission for all images that are used
-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">

    <title> BIT Music School </title>

    <link href="@Url.Content("~/MusicSchoolSS.css")" rel="stylesheet" type="text/css" />

</head>
<body>


    <div class="page">
        <div class="header">

            <img id="img_Banner" alt="Banner" src="@Url.Content("~/Music.jpg")" width="900" />

        </div>
        <div class="logo"></div>
        <div class="navigation">
            <ul>
                <li>@Html.ActionLink("Home", "Home", "Home")</li>
                <li>@Html.ActionLink("Students", "ShowStudents", "Student")</li>
                <li>@Html.ActionLink("Tutors", "ShowTutors", "Tutor")</li>
                <li>@Html.ActionLink("Enrolment", "Enrolment", "School")</li>
            </ul>
        </div>

        <div class="title">
            <h2>  Tutors </h2>
        </div>
        <div class="text">
            <h4>Tutors have been assigned</h4>
            @Html.ActionLink("Back", "Enrolment", "School")
        </div>
    </div>
</body>
</html>
